.fullpage
{
background-image: url('background.jpg');
}
.login
{
background-image: url('background3.jpg');
margin:10rem auto;
width:30rem;
padding:3rem;
box-shadow: 10px 10px 10px 10px  #888888;
}
